@media (max-width: 767px) {
    .nav-xs {
        margin: 0;
    }
}

.txt-args {
    font-size: 10px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
}

.spinbox {
max-width: 60px;
position: relative;
padding-right: 20px;
}
.spinbox .spinbox-input {
min-width: 40px;
padding-left: 4px;
padding-right: 4px;
text-align: center;
}
.spinbox .spinbox-buttons {
text-align: center;
position: absolute;
right: 0;
top: 0;
height: 100%;
width: 20px;
}
.spinbox .spinbox-buttons .spinbox-up {
  position: absolute;
  top: 0;
  right: 0;
  height: 50%;
  width: 100%;
  border-left: none;
  line-height: 1;
}
.spinbox .spinbox-buttons .spinbox-down {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50%;
  width: 100%;
  border-left: none;
  line-height: 1;
}

.spinner {
  width: 70px;
}
.spinner input {
  text-align: right;
}
.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
}
.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}
